<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Creatures
    </ion-title>
    <ion-button slot="end" (click)="addCreature()">Add</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Creatures</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button expand="full" *ngFor="let creature of creatures" ion-item (click)="itemTapped($event, creature)">
      {{creature.commonName}}
    </ion-button>
  </ion-content>
</ion-content>
